html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.light-mode {
  background-color: #f0f0f0 !important;
  color: black !important;
}

.dark-mode {
  background-color: black !important;
  color: #f0f0f0 !important;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5em;
  margin: 50px 100px;
}

.range-input {
  display: flex;
  flex-direction: column;
}

.gui-container {
  display: grid;
  grid-gap: 1em;
  padding: 25px;
}

input[type="color"]:hover {
  cursor: pointer;
}

input:hover {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}
